<h2>Christmas Organiser!</h2>

<h3>What are your kids doing in the Nativity?</h3>
<p>{{loud name}}</p>
<p>{{counter age}}</p>
<p>Your Nativity character {{character}}</p>

<h3>Advent Windows - who has which date?</h3>
{{#if listExists}}
  <ul>
    {{#each neighbours}}
    <li>{{this.name}} {{this.date}}</li>
    {{/each}}
  </ul>
{{/if}}
